.main-content__title{
      font-family:Roboto;
}
body{
  border: dashed 1px red;
  margin: 0
}
.header, .main-section{
  border: dashed 1px red;
  display: flex;
  justify-content: space-between;
}
.wrapper{
  margin: auto;
  width: 80%;
  border: dashed 1px red;
}
.menu{
 display:flex;
 align-items:center;
   border: dashed 1px red
}
.logo{
  padding: 40px 0;
  border: dashed 1px red
}
.menu__item{
  padding: 0 13px;
  border: dashed 1px red
}
.menu__item:last-child{
  padding-right:0
}
