.main-content__title{
      font-family:Roboto;
}
body{
  margin: 0
}
.header, .main-section{
  padding: 40px 0;
  display: flex;
  justify-content: space-between;
}
.wrapper{
  margin: auto;
  width: 80%;
  }
.menu{
 display:flex;
 align-items:center;
 }
.logo{
 padding: 40px 0;
 padding-left: 44px;
 font: bold 24px/31px pt_serif, arial, helvetica, sans-serif;
 position: relative;
 }
.menu__item{
  position: relative;
  padding: 0 13px;
  margin-right:26px;
  font: 500 18px/21px Roboto, arial, helvetica, sans-serif;
  color: #000;
  text-decoration: none;
  transition: opacity .5s;

}
.menu__item:last-child{
  margin-right:0px;
  padding-right:0
}
.logo__circle{
  width: 28px;
  height: 28px;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  border-radius:50%;
  opacity:.7;
  }
.logo__circle_color_blue{
  left:8px;
  top:56%;
  background: #C8DBFB
}
.logo__circle_color_darc-blue{
  background: #0056EC
}
.menu__item:hover:after{
  position: absolute;
  display:block;
  left:0;
  content:'';
  width: 100%;
  height: 3px;
  background: #0056EC;
  opacity: 0;
  transition: opacity .5s
}
.menu__item:hover{
 opacity: 0.5;
}
.menu__item:hover:after, menu__item_active:after{
opacity: 1;
}
